<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pagetitle }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/' + custom_css + '.css')}}">
</head>
<body>
    
    {% block body %}
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam quae assumenda ex natus ducimus amet optio totam a magnam, error iusto! Alias, repudiandae praesentium. Sit nostrum delectus possimus dolorum enim.
    {% endblock %}
</body>
</html>